<div>
    <div class="container inner-container">
        <div class="row row-cols-6">
        @for (var i = 1; i <= 42; i++)
        {
            <div id="MonthDay@1" class="col month-day">
            <span>@i</span>
            </div>
        }
    </div>

    </div>
</div>




@code {
    
}